Repository mingxoxo/cub3d, pull requests merged in 2023-04, with the labels that each got.

#35 feat: #27/Implement animation sprite
  Makefile
  bonus/cub3d_bonus.h
  bonus/ft_func/memory_bonus.c
  bonus/init_bonus.c
  bonus/key_press_bonus.c
  bonus/main_bonus.c
  bonus/render/core_bonus.c
  bonus/render/render_bonus.c
  bonus/render/sprite_bonus.c
  maps/ex_bonus.cub
Labels: 📄 docs, 💻 feat, 🤖 norm, 💡 bonus

#39 feat : #37/changing the structure of door
  bonus/minimap_bonus.c
  bonus/parsing/check_bonus.c
  bonus/render/render_bonus.c
  bonus/render/sprite_bonus.c
  maps/ex_bonus.cub
  textures/xpm/door.xpm
  textures/xpm/open_door.xpm
Labels: 📄 docs, 💻 feat, 🐞 fix, 💡 bonus

#41 fix: #40/sprite segfault error
  Makefile
  bonus/cub3d_bonus.h
  bonus/ft_func/error_exit_bonus.c
  bonus/render/render_bonus.c
  bonus/render/render_sprite_bonus.c
  mandatory/cub3d.h
  mandatory/ft_func/error_exit.c
  mandatory/render/render.c
  maps/ex_bonus.cub
  textures/xpm/tree.xpm
  textures/xpm/tree_left.xpm
  textures/xpm/tree_right.xpm
Labels: 🛠 refactor, 🐞 fix, 💡 bonus

#43 fix: #42/color handling
  Makefile
  bonus/parsing/parse_color_bonus.c
  bonus/render/render_bonus.c
  mandatory/parsing/parse_color.c
  mandatory/render/render.c
  maps/ex.cub
  maps/ex2.cub
  maps/ex3.cub
  maps/ex_bonus.cub
Labels: 🐞 fix
